<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}廃棄品管理システム{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- 共通ヘッダー -->
    <header>
        <h1>廃棄品管理システム</h1>
        <nav>
            <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="/add_item">商品を追加</a></li>
                <li><a href="/items">購入品一覧</a> </li>
                <li><a href="/discards">廃棄品一覧</a></li>
                <li><a href="/register_disposal">廃棄品登録</a></li>
                <li><a href="/monthly_discards">月間廃棄数量グラフ</a></li>
                <li><a href="/total_graph">合計廃棄量の金額</a></li>
            </ul> 
        </nav>
    </header>
    <!-- ページごとの内容をここに挿入 -->
    <div>
        {% block content %}{% endblock %}
    </div>
    <!-- 共通フッター -->
    <footer>
        <p>&copy; 2024 廃棄品管理システム</p>
    </footer>
</body>












