{% extends "base.html" %}

{% block title %}在庫一覧{% endblock %}

{% block content %}
    <h2>在庫情報</h2>
    <table>
        <thead>
            <tr>
                <th>商品名</th>
                <th>価格</th>
                <th>在庫数</th>
            </tr>
        </thead>
        <tbody>
            {% for item in stocks %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.price }} 円</td>
                <td>{{ item.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
